/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: SansRegular;
  src: url(/NotoSansCJKtc-Regular.otf);
}
body {
  font-family: SansRegular;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

.txt {
  font-weight: bold;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.li-rwd-pr {
  padding-right: 48px;
}
@media (max-width: 992px) {
  .li-rwd-pr {
    padding-right: 30px;
  }
}
@media (max-width: 768px) {
  .li-rwd-pr {
    padding-right: 20px;
  }
}
@media (max-width: 577px) {
  .li-rwd-pr {
    padding-right: 10px;
  }
}

.img-rwd-pr {
  padding-right: 32px;
  box-sizing: content-box;
}
@media (max-width: 992px) {
  .img-rwd-pr {
    padding-right: 20px;
  }
}
@media (max-width: 768px) {
  .img-rwd-pr {
    padding-right: 16px;
  }
}
@media (max-width: 577px) {
  .img-rwd-pr {
    padding-right: 8px;
  }
}
@media (max-width: 420px) {
  .img-rwd-pr {
    box-sizing: content-box;
  }
}

header {
  background-color: #AA0601;
  margin-bottom: 96px;
}
@media (max-width: 768px) {
  header {
    margin-bottom: 80px;
  }
}
@media (max-width: 420px) {
  header {
    margin-bottom: 40px;
  }
}

.w0-auto {
  padding-left: 10%;
  padding-right: 10%;
}
@media (max-width: 768px) {
  .w0-auto {
    max-width: 768px;
    margin-left: 36px;
    margin-right: 36px;
  }
}
@media (max-width: 420px) {
  .w0-auto {
    max-width: 100%;
    margin: 0 auto;
  }
}

.header-content {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 420px) {
  .header-content {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}
.header-content .imgbox {
  height: 72px;
}
.header-content .imgbox img {
  margin-top: 12px;
  margin-bottom: 11.43px;
}
@media (max-width: 577px) {
  .header-content .imgbox {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    height: 80px;
  }
}
@media (max-width: 420px) {
  .header-content .imgbox {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-left: 15px;
    height: 80px;
  }
}

.header-h1 {
  border-left: #9F1213 solid 8px;
  padding-left: 16px;
  margin-bottom: 32px;
}
@media (max-width: 577px) {
  .header-h1 {
    font-size: 34px;
  }
}
@media (max-width: 420px) {
  .header-h1 {
    margin-bottom: 40px;
    font-size: 24px;
  }
}

.header-h2 {
  display: inline-block;
  margin-bottom: 24px;
}

.header-h3 {
  margin-bottom: 8px;
  display: block;
}

.header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-flex .header-flex-li-4 {
  margin-right: 0;
}
@media (max-width: 577px) {
  .header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .header-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
.header-flex li {
  line-height: 1.5;
  font-size: 20px;
  margin-right: 64px;
  width: calc;
  color: white;
  padding: 0px;
}
@media (max-width: 577px) {
  .header-flex li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 16px;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid white;
  }
}
@media (max-width: 420px) {
  .header-flex li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 16px;
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    border: 1px solid white;
  }
}

.q-four {
  text-wrap: nowrap;
}

.card-content p {
  max-width: 856px;
  line-height: 24px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .card-content p {
    max-width: 696px;
  }
}
@media (max-width: 420px) {
  .card-content p {
    max-width: 348px;
  }
}

.big-content {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .big-content {
    padding-left: 1%;
    padding-right: 1%;
  }
}
@media (max-width: 420px) {
  .big-content {
    margin-bottom: 64px;
    padding-left: 3%;
    padding-right: 4%;
  }
}

@media (max-width: 768px) {
  .footer-content {
    padding-left: 1%;
    padding-right: 1%;
  }
}

.footer-all {
  background-color: #AA0601;
}

.footer-navbar {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer-navbar {
    justify-content: space-between;
  }
}

.footer-navbar ul {
  display: flex;
}
@media (max-width: 420px) {
  .footer-navbar ul {
    display: none;
  }
}
.footer-navbar ul li {
  color: white;
  height: 24px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .footer-navbar ul li {
    font-size: 14px;
  }
}
@media (max-width: 577px) {
  .footer-navbar ul li {
    font-size: 12px;
  }
}

.imgbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-address {
  margin: 0 auto;
  border-bottom: white 1px solid;
  padding-bottom: 32px;
  margin-bottom: 32px;
}
@media (max-width: 420px) {
  .footer-address {
    margin-bottom: 16px;
    padding-bottom: 24px;
  }
}
.footer-address h2 {
  color: white;
  font-size: 36px;
  display: inline-block;
}
@media (max-width: 992px) {
  .footer-address h2 {
    font-size: 32px;
  }
}
@media (max-width: 577px) {
  .footer-address h2 {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .footer-address h2 {
    font-size: 16px;
  }
}

.phone {
  margin-top: 8px;
  margin-bottom: 8px;
}
.phone h2 {
  text-wrap: nowrap;
  padding-left: 22px;
  max-width: 223px;
}
@media (max-width: 420px) {
  .phone h2 {
    padding-left: 11px;
  }
}

.mail h2 {
  padding-left: 20px;
  max-width: 380px;
}
@media (max-width: 420px) {
  .mail h2 {
    padding-left: 10px;
  }
}

.footer-bottom {
  padding-bottom: 32px;
  background-color: #AA0601;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 577px) {
  .footer-bottom {
    flex-direction: column;
    padding-bottom: 24px;
  }
}
@media (max-width: 420px) {
  .footer-bottom {
    flex-direction: column;
    padding-bottom: 24px;
  }
}
.footer-bottom h5 {
  font-family: "Roboto Flex", sans-serif;
  color: white;
}
@media (max-width: 577px) {
  .footer-bottom h5 {
    padding-left: 1%;
    padding-bottom: 8px;
  }
}
@media (max-width: 420px) {
  .footer-bottom h5 {
    padding-left: 4%;
    padding-bottom: 8px;
  }
}
.footer-bottom .footer-bottom-navbar {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}
@media (max-width: 577px) {
  .footer-bottom .footer-bottom-navbar {
    flex-direction: column;
  }
}
@media (max-width: 420px) {
  .footer-bottom .footer-bottom-navbar {
    flex-direction: column;
  }
}
.footer-bottom .footer-bottom-navbar li {
  padding-left: 48px;
}
@media (max-width: 577px) {
  .footer-bottom .footer-bottom-navbar li {
    padding-left: 1%;
  }
}
@media (max-width: 420px) {
  .footer-bottom .footer-bottom-navbar li {
    padding-left: 4%;
  }
}

.imgbar-fb {
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  .imgbar-fb {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 420px) {
  .imgbar-fb {
    width: 24px;
    height: 24px;
    padding-right: 8px;
  }
}

.imgbar-ig {
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  .imgbar-ig {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 420px) {
  .imgbar-ig {
    width: 24px;
    height: 24px;
    padding-right: 8px;
  }
}

.imgbar-line {
  width: 48px;
  height: 48px;
}
@media (max-width: 768px) {
  .imgbar-line {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 420px) {
  .imgbar-line {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 577px) {
  .img-w-h-rwd {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 420px) {
  .footer-box1 {
    position: absolute;
    right: 3%;
  }
}

@media (max-width: 420px) {
  .footer-box2 {
    padding-left: 4%;
    padding-top: 6%;
  }
}

.phone-img {
  width: 36px;
  height: 36px;
}
@media (max-width: 577px) {
  .phone-img {
    width: 26px;
    height: 26px;
  }
}
@media (max-width: 420px) {
  .phone-img {
    width: 18px;
    height: 18px;
  }
}

.mail-img {
  width: 40px;
  height: 32px;
}
@media (max-width: 577px) {
  .mail-img {
    width: 30px;
    height: 28px;
  }
}
@media (max-width: 420px) {
  .mail-img {
    width: 20px;
    height: 16px;
  }
}

@media (max-width: 577px) {
  .footer-bottom-navbar1 {
    padding-bottom: 8px;
  }
}
@media (max-width: 420px) {
  .footer-bottom-navbar1 {
    padding-bottom: 8px;
  }
}/*# sourceMappingURL=all.css.map */